{% load static %}

<style type="text/css">


  /*  PHONE  */
	@media (max-width: 810px) {
		.track {
			position: absolute;
			white-space: nowrap;
			will-change: transform;
			animation: marquee 14s linear infinite;
		}

		.marquee {
			position: relative;
			width: 100vw;
			max-width: 100%;
			height: 160px;
			overflow-x: hidden;
		}
	}

	/*  DESCTOP  */
	@media (min-width: 811px){
		.track {
				position: absolute;
				white-space: nowrap;
				will-change: transform;
				animation: marquee 32s linear infinite;
			}
		.marquee {
			position: relative;
			width: 100vw;
			max-width: 100%;
			height: 200px;
			overflow-x: hidden;
		}
	}
	@keyframes marquee {
		from { transform: translateX(0); }
		to { transform: translateX(-50%); }
	}

</style>

<div class="marquee red_deep_bg">
  	<div class="track ">

		<h1 class="moving_text white we_200 big_guar py-5">&nbsp; УВЕРЕННОСТЬ • ФИНАНСОВАЯ ЗАЩИТА • КОМПЕНСАЦИЯ ЗА ЛЮБЫЕ ВИДЫ ПОВРЕЖДЕНИЙ • НАДЕЖНОСТЬ • </h1>

	</div>
</div>