{% load static %}

<style type="text/css">
  .parallax_wrap {
    margin: 0;
    padding: 0;
  }

  .cloneable {
    padding: var(--container-padding);
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    display: flex;
    position: relative;
  }


  .parallax__fade {
    --color-dark-rgb: 0, 0, 0;
    background: linear-gradient(to top, rgba(var(--color-dark-rgb), 1) 0%, rgba(var(--color-dark-rgb), 0.738) 19%, rgba(var(--color-dark-rgb), 0.541) 34%, rgba(var(--color-dark-rgb), 0.382) 47%, rgba(var(--color-dark-rgb), 0.278) 56.5%, rgba(var(--color-dark-rgb), 0.194) 65%, rgba(var(--color-dark-rgb), 0.126) 73%, rgba(var(--color-dark-rgb), 0.075) 80.2%, rgba(var(--color-dark-rgb), 0.042) 86.1%, rgba(var(--color-dark-rgb), 0.021) 91%, rgba(var(--color-dark-rgb), 0.008) 95.2%, rgba(var(--color-dark-rgb), 0.002) 98.2%, transparent 100%);
  }

  .osmo-icon-svg {
    width: 8em;
    position: relative;
  }

  .parallax__header {
    z-index: 2;
    padding: var(--section-padding) var(--container-padding);
    justify-content: center;
    align-items: center;
    min-height: 100svh;
    display: flex;
    position: relative;
  }

  .parallax {
    width: 100%;
    position: relative;
    overflow: hidden;
  }

  .parallax__content {
    padding: 15em 2.5em;;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
    display: flex;
    position: relative;
  }

  .cover {
    object-fit: cover;
    width: 100%;
    max-width: none;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .parallax__visuals {
    object-fit: cover;
    width: 100%;
    max-width: none;
    height: 120%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .parallax__placeholder {
    z-index: 0;
    opacity: 0;
    object-fit: cover;
    width: 100%;
    max-width: none;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .parallax__layers {
    object-fit: cover;
    width: 100%;
    max-width: none;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
  }

  .cover-copy {
    object-fit: cover;
    width: 100%;
    max-width: none;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .parallax__fade {
    z-index: 30;
    object-fit: cover;
    width: 100%;
    max-width: none;
    height: 20%;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .parallax__black-line-overflow {
    z-index: 20;
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: -1px;
    left: 0;
  }

  /*  PHONE  */
  @media (max-width: 810px) {
    .parallax__title {
        pointer-events: auto;
        text-align: center;
        text-transform: none;
        margin-top: 0;
        margin-bottom: .1em;
        margin-right: .075em;
        color: var(--red);
        font-size: 3em;
        font-weight: 800;
        line-height: 1;
        position: relative;
      }


      #car_rl {
        position: relative;
        top: 15%;
        animation: moveCarRL 2.1s linear infinite;
        height: 8em;
      }
      @keyframes moveCarRL {
          0% {
              left: 120%;
          }
          100% {
              left: -180%;
          }
      }

      #car_lr {
        position: relative;
        top: 25%;
        animation: moveCarLR 2s linear infinite;
        height: 8em;
      }
      @keyframes moveCarLR {
          0% {
              left: -105%;
          }
          100% {
              left: 120%;
          }
      }


      #car_lr_2 {
        position: absolute;
        top: 58%;
        animation: moveCarLR2 1.8s linear infinite;
        height: 9.7em;
      }
      @keyframes moveCarLR2 {
          0% {
              left: -60%;
          }
          100% {
              left: 120%;
          }
      }



  }

  /*  DESCTOP  */
  @media (min-width: 811px){
    .parallax__title {
      pointer-events: auto;
      text-align: center;
      text-transform: none;
      margin-top: 0;
      margin-bottom: .1em;
      margin-right: .075em;
      color: var(--red);
      font-size: 8em;
      font-weight: 800;
      line-height: 1;
      position: relative;
    }


    #car_rl {
      position: absolute;
      top: 74%;
      animation: moveCarRL 6s linear infinite;
      height: 9em;
    }
    @keyframes moveCarRL {
        0% {
            left: 110%;
        }
        100% {
            left: -10%;
        }
    }

    #car_lr {
      position: absolute;
      top: 79%;
      animation: moveCarLR 7s linear infinite;
      height: 9.2em;
    }
    @keyframes moveCarLR {
        0% {
            left: -10%;
        }
        100% {
            left: 110%;
        }
    }


    #car_lr_2 {
      position: absolute;
      top: 82%;
      animation: moveCarLR2 6.5s linear infinite;
      height: 10em;
    }
    @keyframes moveCarLR2 {
        0% {
            left: -30%;
        }
        100% {
            left: 120%;
        }
    }



  }


  .parallax__radial-gradient {
    z-index: 10;
    background-image: radial-gradient(circle farthest-corner at 50% 50%, transparent, var(--color-black));
    opacity: .5;
    pointer-events: none;
    mix-blend-mode: multiply;
    position: fixed;
    inset: 0;
  }

  .parallax__layer-title {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100svh;
    /*display: flex;*/
    position: absolute;
    top: 5em!important;
    left: 0;
  }

  .parallax__layer-img {
    pointer-events: none;
    object-fit: cover;
    width: 100%;
    max-width: none;
    height: 117.5%;
    position: absolute;
    top: -17.5%;
    left: 0;
  }
  #earth{
    opacity: .9;
  }
  .parallax__layer-img.is-third {
    top: -20%;
  }

</style>


<div class="parallax_wrap">
  <div class="parallax">
    <section class="parallax__header">
      <div class="parallax__visuals">
        <div class="parallax__black-line-overflow"></div>

        <div data-parallax-layers class="parallax__layers">

          <img loading="lazy" src="{% static 'abstract/mesh_blue_black.png' %}" loading="eager" width="800" data-parallax-layer="1" alt="" class="parallax__layer-img">


          <!-- PHONE -->
          <div class='d-block d-lg-none '>
            <img id='earth' loading="lazy" src="{% static 'transperent/earth.svg' %}" loading="eager" width="800" data-parallax-layer="2" alt="" class="parallax__layer-img">
          </div>

          <!-- DESCTOP -->
          <div class='d-none d-lg-block d-xl-block d-xxl-block'>
            <img id='earth' loading="lazy" src="{% static 'transperent/earth.svg' %}" loading="eager" width="800" data-parallax-layer="2" alt="" class="parallax__layer-img">
          </div>


          <div data-parallax-layer="3" class="parallax__layer-title">
            <h2 class="parallax__title pt-5 mt-5">ЛУЧШИЕ</h2>
            <h2 class="parallax__title">МАШИНЫ</h2>
            <h2 class="parallax__title">ОЙКУМЕНЫ</h2>
          </div>

          <!-- PHONE -->
          <div class='d-block d-lg-none '>
            <img loading="lazy" src="{% static 'transperent/rocks.svg' %}" loading="eager" width="800" data-parallax-layer="4" alt="" class="parallax__layer-img">
          </div>

          <!-- DESCTOP -->
          <div class='d-none d-lg-block d-xl-block d-xxl-block'>
            <img loading="lazy" src="{% static 'transperent/rocks.png' %}" loading="eager" width="800" data-parallax-layer="4" alt="" class="parallax__layer-img">
          </div>


        </div>
        <div class="parallax__fade"></div>
      </div>
    </section>

    <section class="parallax__content red_deep_bg">

      <div class=''>
          <h2 class="white big_guar we_600">ИНОМАРКИ</h2>
          <h2 class="white big_guar we_200">НОВЫЕ И</h2>
          <h2 class="white big_guar we_200">С ПРОБЕГОМ</h2>

          <h2 class="white we_200 pt-4">Продажа новых и подержанных автомобилей<br> ведущих мировых брендов</h2>

          <div class="pt-4">
            {% include 'cars/popups/popup_call_me.html' %}
          </div>

          <img id='car_rl' class='' src="{% static 'transperent/Range_Rover_Long_Supercharger_mini.png' %}" alt="" /> 
          <img  id='car_lr' class='' src="{% static 'transperent/Mitsubishi_Outlander_mini.png' %}" alt="" />
          <img id='car_lr_2' class='' src="{% static 'transperent/audi_green.png' %}" alt="" />

      </div>
    </section>
  </div>

  </div>




<script type="text/javascript">
  
document.addEventListener("DOMContentLoaded", () => {
  // Register GSAP Plugins
  gsap.registerPlugin(ScrollTrigger);
  // Parallax Layers
  document.querySelectorAll('[data-parallax-layers]').forEach((triggerElement) => {
    let tl = gsap.timeline({
      scrollTrigger: {
        trigger: triggerElement,
        start: "0% 0%",
        end: "100% 0%",
        scrub: 0
      }
    });
    const layers = [
      { layer: "1", yPercent: 70 },
      { layer: "2", yPercent: 55 },
      { layer: "3", yPercent: 40 },
      { layer: "4", yPercent: 10 }
    ];
    layers.forEach((layerObj, idx) => {
      tl.to(
        triggerElement.querySelectorAll(`[data-parallax-layer="${layerObj.layer}"]`),
        {
          yPercent: layerObj.yPercent,
          ease: "none"
        },
        idx === 0 ? undefined : "<"
      );
    });
  });
});
/* Lenis */
const lenis = new Lenis();
lenis.on('scroll', ScrollTrigger.update);
gsap.ticker.add((time) => {lenis.raf(time * 1000);});
gsap.ticker.lagSmoothing(0);

</script>