{% load static %}

<style type="text/css">
  .parallax_wrap {
    margin: 0;
    padding: 0;
  }
  .cloneable {
    padding: var(--container-padding);
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    display: flex;
    position: relative;
  }
  .parallax__fade {
    --color-dark-rgb: 0, 0, 0;
    background: linear-gradient(to top, rgba(var(--color-dark-rgb), 1) 0%, rgba(var(--color-dark-rgb), 0.738) 19%, rgba(var(--color-dark-rgb), 0.541) 34%, rgba(var(--color-dark-rgb), 0.382) 47%, rgba(var(--color-dark-rgb), 0.278) 56.5%, rgba(var(--color-dark-rgb), 0.194) 65%, rgba(var(--color-dark-rgb), 0.126) 73%, rgba(var(--color-dark-rgb), 0.075) 80.2%, rgba(var(--color-dark-rgb), 0.042) 86.1%, rgba(var(--color-dark-rgb), 0.021) 91%, rgba(var(--color-dark-rgb), 0.008) 95.2%, rgba(var(--color-dark-rgb), 0.002) 98.2%, transparent 100%);
  }
  .osmo-icon-svg {
    width: 8em;
    position: relative;
  }
  .parallax__header {
    z-index: 2;
    padding: var(--section-padding) var(--container-padding);
    justify-content: center;
    align-items: center;
    min-height: 100svh;
    display: flex;
    position: relative;
  }
  .parallax {
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  .parallax__content {
    padding: 15em 2.5em;;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
    display: flex;
    position: relative;
  }
  .cover {
    object-fit: cover;
    width: 100%;
    max-width: none;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .parallax__visuals {
    object-fit: cover;
    width: 100%;
    max-width: none;
    height: 120%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .parallax__placeholder {
    z-index: 0;
    opacity: 0;
    object-fit: cover;
    width: 100%;
    max-width: none;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .parallax__layers {
    object-fit: cover;
    width: 100%;
    max-width: none;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  .cover-copy {
    object-fit: cover;
    width: 100%;
    max-width: none;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .parallax__fade {
    z-index: 30;
    object-fit: cover;
    width: 100%;
    max-width: none;
    height: 20%;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .parallax__black-line-overflow {
    z-index: 20;
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: -1px;
    left: 0;
  }

  /*  PHONE  */
  @media (max-width: 810px) {
    .parallax__title {
        pointer-events: auto;
        text-align: center;
        text-transform: none;
        margin: 0 0 .1em .2em;
        color: var(--white);
        -webkit-text-stroke: 1px var(--gray);
        text-stroke: 1px var(--gray);
        font-size: 3.6em;
        font-weight: 300;
        line-height: 1;
        position: relative;
      }

  }

  /*  DESCTOP  */
  @media (min-width: 811px){
    .parallax__title {
      pointer-events: auto;
      text-align: center;
      text-transform: none;
      margin-top: 0;
      margin-bottom: .1em;
      color: var(--white);
        -webkit-text-stroke: 1px var(--black);
        text-stroke: 1px var(--black);
      font-size: 9em;
      font-weight: 300;
      line-height: 1;
      position: relative;
    }

  }


  .parallax__radial-gradient {
    z-index: 10;
    background-image: radial-gradient(circle farthest-corner at 50% 50%, transparent, var(--color-black));
    opacity: .5;
    pointer-events: none;
    mix-blend-mode: multiply;
    position: fixed;
    inset: 0;
  }

  .parallax__layer-title {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100svh;
    /*display: flex;*/
    position: absolute;
    top: 15em!important;
    left: 0;
  }

  .parallax__layer-img {
    pointer-events: none;
    object-fit: cover;
    width: 100%;
    max-width: none;
    height: 125%;
    position: absolute;
    top: -25%;
    left: 0;
  }

  #earth{
    opacity: .5;
  }
  #brand{
    max-width: 20em;
  }

  .parallax__layer-img.is-third {
    top: -20%;
  }

</style>


<div class="parallax_wrap">
  <div class="parallax">

    <section class="parallax__header">

      <div class="parallax__visuals">

        <div class="parallax__black-line-overflow"></div>

        <div data-parallax-layers class="parallax__layers">

          <img loading="lazy" src="{% static 'abstract/mesh_blue_black.png' %}" loading="eager" width="800" data-parallax-layer="1" alt="" class="parallax__layer-img">

          <img id='earth' loading="lazy" src="{% static 'transperent/earth.png' %}" loading="eager" width="800" data-parallax-layer="2" alt="" class="parallax__layer-img">


          <div data-parallax-layer="3" class="parallax__layer-title">
            <center><img id="brand" src="{% static 'brand/logo_dark.svg' %}"></center>
            <h2 class="parallax__title pt-5">РАСШИРЯЕМ</h2>
            <h2 class="parallax__title">ГОРИЗОНТЫ</h2>
          </div>
        </div>

        <div class="parallax__fade"></div>
      </div>

    </section>

    <section class="parallax__content black_absolute_bg">

      <div class="">
        <div class="">
          {% include 'main/parts/running_str_black_bg.html' %}
        </div>


        <div class="desctop_84 py-3">
          <div class='white we_200'>
            <div class="row">
              <div class="col-md-6">
                 <img loading="lazy" class='w-100 my-2' src="{% static 'transperent/beauty_car_1.png' %}">
              </div>
              <div class="col-md-6">
                <h1 class='big_contact pb-3 red we_200'></h1>

                <p>Наша команда занимается продажей и сервисным обслуживанием машин много лет. Мы знаем, каким производителям можно доверять, какие слабые места есть у разных моделей. Мы ориентируемся во всем многообразии мирового и азиатского автопрома и предлагаем действительно лучшие машины.</p>

                <p>Нужна машина?</p>
                {% include 'cars/popups/popup_survey_full.html' %}

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <h1 class='big_contact pb-3 pt-3 white we_200'>В ЛИЦАХ</h1>
              <div class="white we_200">
                <p><span class='we_400'>Александр</span> — бизнесмен, автоэксперт, пауэрлифтер</p>
                <p><span class='we_400'>Фёдор</span> — предприниматель и меценат</p>
                <p><span class='we_400'>Дмитрий</span> — инвестор и специалист в сфере недвижимости</p>
                <p><span class='we_400'>Игорь</span> — бизнесмен, арт-критик, ЗОЖник</p>

                <p class="pt-3 we_400">Что нас объединяет?</p>Дружба! И несколько совместных бизнес-проектов. Автобизнес — одно из направлений деятельности <a class='we_400 white' href='https://rgspace.pro/'>R.E.D. Group</a>.
                <p>А ещё тяга исследовать новое. 
                <p>Смотрите свежие выпуски на нашем канале:
              </div>

              <a href='https://youtube.com/@bezpili78?si=kQtvLs9u3OWsO0TR'><img id='bez_pyli' class='my-4' src="{% static 'logos/bez_pyli_for_dark.png' %}"></a>        
            </div>

            <div class="col-md-8 ">
              <div class='row'>
                <div class="col-md-6">
                  <a href='https://youtu.be/zF9lWkOuN6A?si=b2hJf37MOzQInpSx'>
                    <img loading="lazy" class='w-100 my-2' src="{% static 'img/zastavky_pokupat_avto_opasno.png' %}">
                  </a> 
                  <a href='https://youtu.be/mgxgv381kvs?si=ALQw9u05C5TJqLOC'>
                    <img loading="lazy" class='w-100 my-2' src="{% static 'img/zastavky_BMW_1.png' %}">
                  </a> 
                  
                </div>
                <div class="col-md-6">
                  <a href='https://youtu.be/PiI6GyoWZUA?si=0Ex9RzBL1H5owJLK'>
                    <img loading="lazy" class='w-100 my-2' src="{% static 'img/zastavky_smotrim_2shky.png' %}">
                  </a> 
                  <a href='https://youtu.be/pC4wmXi2FwU?si=ovb60FdkfVYh5nKm'>
                    <img loading="lazy" class='w-100 my-2' src="{% static 'img/zastavky_nude_king.png' %}">
                  </a> 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>

  </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>
<script src="https://unpkg.com/lenis@1.1.14/dist/lenis.min.js"></script>

<script type="text/javascript">
  
  document.addEventListener("DOMContentLoaded", () => {
    // Register GSAP Plugins
    gsap.registerPlugin(ScrollTrigger);
    // Parallax Layers
    document.querySelectorAll('[data-parallax-layers]').forEach((triggerElement) => {
      let tl = gsap.timeline({
        scrollTrigger: {
          trigger: triggerElement,
          start: "0% 0%",
          end: "100% 0%",
          scrub: 0
        }
      });
      const layers = [
        { layer: "1", yPercent: 70 },
        { layer: "2", yPercent: 55 },
        { layer: "3", yPercent: 40 },
        { layer: "4", yPercent: 10 }
      ];
      layers.forEach((layerObj, idx) => {
        tl.to(
          triggerElement.querySelectorAll(`[data-parallax-layer="${layerObj.layer}"]`),
          {
            yPercent: layerObj.yPercent,
            ease: "none"
          },
          idx === 0 ? undefined : "<"
        );
      });
    });
  });
  /* Lenis */
  const lenis = new Lenis();
  lenis.on('scroll', ScrollTrigger.update);
  gsap.ticker.add((time) => {lenis.raf(time * 1000);});
  gsap.ticker.lagSmoothing(0);

</script>