@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* ====================================
General Styles
==================================== */


:root{
  --black_absolute:rgb(0,0,0);
  --black:rgb(27, 25, 24);
  --black_hot: rgb(38, 29, 29);
  --bordo_dark: rgb(49, 3, 15);
  --bordo: rgb(49, 3, 15);
  --gray_light: rgb(217, 217, 217);
  --gray: rgb(119, 118, 118);
  --red: rgb(212, 16, 65);
  --red_deep: rgb(192, 14, 59);
  --white: rgb(250, 249, 249);
  --white_dirty: rgb(245, 245, 245);
}


html{
  margin: 0;
  padding: 0;

}
body {
  background-color: #F5F5F5;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  padding: 0;
  background-color: var(--white)!important;
}
video{
  width: 100%;
}
a {
  text-decoration: none!important;
}
button{
  cursor: pointer;
}
input{
  width: 100%;
  border: 1px solid #010305;
  border-radius: 8px;
  padding: 6px;
}
input:hover{
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
}
input:focus{
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 2px solid #010305!important;
}
input:focus-visible{
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 2px solid #010305;
}
input:active{
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 2px solid #010305;
}
.border_invisible{
  border: none!important;
}

h4{
  font-size: 1.3em!important;
}
.hr_line {
  margin: 20px 0;
  padding: 0;
  height: 1;
  border: none;
  border-top: 1px solid #a2b5c5;
}
hr{
  background-color: #a2b5c5!important;
}
tr {
  height: 1.6em;
}


.black_absolute{
  color: #000;
}
.black{
  color: #1b1918;
}
.black_hot{
  color: #261D1D;
}
.bordo{
  color: #31030F;
}
.bordo_dark{
  color: #31030F;
}
.gray_light{
  color: #D9D9D9;
}
.gray{
  color: #777676;
}
.red{
  color: #D41041;
}
.red_deep{
  color: #C00E3B;
}
.white{
  color: #FAF9F9;
}
.white_dirty{
  color: #F5F5F5;
}


.black_absolute_bg{
  background-color: #000;
}
.black_bg{
  background-color: #1b1918;
}
.black_hot_bg{
  background-color: #261D1D;
}
.bordo_bg{
  background-color: #31030F;
}
.bordo_dark_bg{
  background-color: #31030F;
}
.red_bg{
  background-color: #D41041;
}
.red_deep_bg{
  background-color: #C00E3B;
}
.gray_light_bg{
  background-color: #D9D9D9;
}
.gray_bg{
  background-color: #777676;
}
.white_bg{
  background-color: #FAF9F9;
}
.white_dirty_bg{
  background-color: #F5F5F5;
}


.white_bg_tr {
  background-color: rgba(243, 248, 253, 1);
  transition: background-color 1s ease;
}

.transperent_bg {
  background: transparent!important;
}

.blur_bg{
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background-color: rgba(255,255,255, .5);
}
.blur_bg_contact{
    backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}






.center{
  text-align: center;
  margin-right: auto!important;
  margin-left: auto!important;
}

.desctop_84{
  width: 84%;
  margin: .5em auto;
}

.nav_footer{
  color: #D9D9D9!important;
  font-weight: 300;
  font-size: .9em;
  line-height: .8;
  margin: 0;
}
.nav_footer:hover{
  color: #A4A4A4!important;
}

.nav_footer_mob{
  color: #D9D9D9!important;
}
.nav_footer_mob:hover{
  color: #A4A4A4!important;
}

.logo{
  max-width: 6em!important;
  margin-top: .2em;
}
.logo_mob{
  height: 4.6em;
}

.smm_head{
    max-width: 2.6em;
    margin-top: .1em;
}
.head_phone{
  font-weight: 500;
  font-size: 1.3em;
  padding: .5em .5em 0em .5em;
  margin-bottom: 0!important
} 
.head_mail{
  font-weight: 300;
  padding: 0em .5em .5em .5em;
  margin-bottom: 0!important
}
.mob_header_img{
  margin-top: -4.5em;
}

.abstract{
  position: relative;
  z-index: -10;
}

.btn_text{
  font-size: 16px!important;
}

.checkbox-input_red {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:focus ~ .checkbox-checkmark-box_red {
      border-color: var(--white_dirty);
    }

    &:checked ~ .checkbox-checkmark-box_red {
    .checkbox-checkmark_red {
      &:after {
        display: block;
      }
    }
  }

  &:checked ~ .checkbox-checkmark-box_red {
    .checkbox-checkmark {
      background-color: var(--white_dirty);
      border: 2px solid var(--white_dirty);
    }
  }

  &:disabled ~ .checkbox-checkmark-box_red {
    .checkbox-checkmark_red {
      border: 2px solid var(--white_dirty);
      cursor: not-allowed;
    }
  }

  &:disabled {
    &:checked ~ .checkbox-checkmark-box_red {
      .checkbox-checkmark_red {
        background-color: var(--white_dirty);

        &:after {
        background: url("data:image/svg+xml,%3Csvg width='14' height='10' viewBox='0 0 14 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.8866 9.91722L0.0873348 5.36761C0.0596566 5.34137 0.037692 5.31018 0.0227039 5.27582C0.00771585 5.24146 0 5.20461 0 5.1674C0 5.13019 0.00771585 5.09335 0.0227039 5.05899C0.037692 5.02463 0.0596566 4.99343 0.0873348 4.96719L1.29893 3.81086C1.41471 3.70049 1.60183 3.70049 1.71761 3.81086L4.87718 6.80501C4.99296 6.91538 5.18143 6.91409 5.2972 6.80372L12.2787 0.0839022C12.3945 -0.0277526 12.5829 -0.0277526 12.7001 0.0826188L13.913 1.23895C14.0288 1.34932 14.0288 1.52771 13.9143 1.63809L6.30821 8.95468L6.30956 8.95597L5.30662 9.91722C5.19085 10.0276 5.00238 10.0276 4.8866 9.91722Z' fill='%2374767B'/%3E%3C/svg%3E%0A") no-repeat center;
        background-size: contain;
        }
      }
    }
  }
  }

  .checkbox-checkmark-box_red {
    min-width: 36px;
    max-width: 36px;
    min-height: 36px;
    max-height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;

    }

  .checkbox-checkmark_red {
    min-width: 26px;
    max-width: 26px;
    min-height: 26px;
    max-height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.25) inset;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.25) inset;
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.25) inset;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--white);

    &:after {
    content: "";
    display: none;
    background: url("data:image/svg+xml,%3Csvg width='14' height='10' viewBox='0 0 14 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.8866 9.91722L0.0873348 5.36761C0.0596566 5.34137 0.037692 5.31018 0.0227039 5.27582C0.00771585 5.24146 0 5.20461 0 5.1674C0 5.13019 0.00771585 5.09335 0.0227039 5.05899C0.037692 5.02463 0.0596566 4.99343 0.0873348 4.96719L1.29893 3.81086C1.41471 3.70049 1.60183 3.70049 1.71761 3.81086L4.87718 6.80501C4.99296 6.91538 5.18143 6.91409 5.2972 6.80372L12.2787 0.0839022C12.3945 -0.0277526 12.5829 -0.0277526 12.7001 0.0826188L13.913 1.23895C14.0288 1.34932 14.0288 1.52771 13.9143 1.63809L6.30821 8.95468L6.30956 8.95597L5.30662 9.91722C5.19085 10.0276 5.00238 10.0276 4.8866 9.91722Z' fill='gray'/%3E%3C/svg%3E%0A") no-repeat center;
    width: 24px;
    height: 20px;
    background-size: contain;
    }
  }



.btn_consult{
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: .7em 1em;
}
.btn_consult:hover{
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: .7em 1em;
}

.tg_btn_icon{
  margin: -.05em 0 0 -.4em;
  height: 1.8em;
  width: auto;
}

.btn_transperent{
  background-color: transparent;
  border: none;
  font-size: 1em;
  height: 2.25rem;
  padding: .5em;
  line-height: 1.1;
  font-weight: 300;
}

.btn_transperent_inset{
  background-color: transparent;
  border-radius: 8px;
  font-size: 1em;
  height: 2.25rem;
  padding: .5em;
  line-height: 1.1;
  font-weight: 300;
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.25) inset;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.25) inset;
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.25) inset;
}

.btn_outline_red{
  background-color: transparent;
  color: var(--red);
  border: 1px solid var(--red);
  border-radius: 8px;
  font-size: 1em;
  /*height: 2.25rem;*/
  padding: .5em;
  line-height: 1.1;
  font-weight: 300;
}
.btn_outline_black{
  background-color: transparent;
  color: var(--black);
  border: 1px solid var(--black);
  border-radius: 8px;
  font-size: 1em;
  /*height: 2.25rem;*/
  padding: .5em;
  line-height: 1.1;
  font-weight: 300;
}
.btn_outline_white{
  background-color: transparent;
  color: var(--white);
  border: 1px solid var(--white);
  border-radius: 8px;
  font-size: 1em;
  /*height: 2.25rem;*/
  padding: .5em;
  line-height: 1.1;
  font-weight: 300;
}




#menu{
  margin-top: -1.4em;
}
.menu_mob_list{
  padding: 5em 0 0 0;
  margin: 0 0 0 1em;
  height: 100vh;
  font-size: 1.1em;
}
.menu_desctop{
  position: absolute;
  z-index: 3;
  background: rgba(0,0,0, .5);
}
.infogr_icon{
  height: 5em;
  margin-right: auto;
  margin-left: auto;
}
.menu_icon{
  width: 2em;
  height: 2em;
}

.navbar-toggler:focus{
  outline: 0!important;
  border: 0!important;
  box-shadow: 0 0 0 0rem!important;
}

.button_form{
  border-radius: 8px;
  text-align: center;
  max-width: 18em;
  padding: 1.1em 1em 1em 1em;
  background-color: rgba(121,183,238, .8);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.button_form_base{
  border-radius: 8px;
  text-align: center;
  padding: .4em 1em;
  border: none;
/*  border: 2px solid rgb(243, 248, 253);*/
  color: #F0F4F5;
  background-color: #D41041;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.button_dark{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #f3f8fd;
  background-color: #010305;
  padding: .7em 1em;
  border-radius: 8px;
  border: 1px solid #010305;
  cursor: pointer;
}

.team_photo{
  width: 16em;
  padding-bottom: 1em;
}
.role{
  font-weight: 300!important;
}
.partners{
  height: 6em;
  width: auto;
}
.partners_rect{
  height: 9em;
  width: auto;
}



.h2_card_bg{
  font-weight: 300;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.card_bg{
  padding-top: 10em;
  padding-bottom: 10em;
  width: 100%;
}



.slider_h1{
  padding-top: 2.5em;
}
.after_head{
  position: relative;
  padding-top: 44em;
}

.map_wrapper{
  padding: 5em 0 0 14em;
}
.info_rect{
  background-color: rgba(255,255,255, .4);
  width: 22em;
  padding: 1.5em 3em;
  font-size: 1.2em;
  font-weight: 300;
  margin-bottom: -24em;
  position: relative;
  z-index: 999;
}
.icon{
  width: 2em;
  height: 2em;
}
.icon_3{
  width: 3em;
  height: 3em;
}
.so_big{
  font-size: 8em;
  line-height: .5em;
}
.large_text{
  font-size:1.2em;
}

.small{
  font-size: .8em;
}
.smaller{
  font-size: .7em;
}
.we_200{
    font-weight: 200;
}
.we_300{
    font-weight: 300;
}
.we_400{
    font-weight: 400;
}
.we_500{
    font-weight: 500;
}
.we_600{
    font-weight: 600;
}


.h2index{
  font-size: 2.5em!important;
  font-weight: 200!important;
}


.category_slider{
  height: 500px;
  overflow-y: clip;
}
.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 0!important;
  left: 15%;
  top: 10%;
  padding-top: 0rem!important;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: left!important;
}
.wrap_car_img{
  background-color: rgb(255,255,255);
  position: relative;
  z-index: 3;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.car_name{
  margin: .5em 0 0 0;
  font-weight: 600;
  font-size: 1.4em;
}
 
.salon_photo {
  height: 22em;
  overflow-y: clip;
  object-fit: cover;
}

#header_cat_img_left{
  position: absolute;
  left:6%;
  transition: right 0.3s ease;
}
#header_cat_img_right{
  position: absolute;
  right:6%;
  transition: right 0.3s ease;
}

.header_cat_img{
  z-index: -111;
  margin-top: 15em;
  width: 30em;
}


#wrap_img_cat{
  height: 70vh;
}
#filters{
  position: relative;
}

.desctop_50{
  width: 50%;
  margin: 0 auto 0 auto;
}

/**//**//**//**//**//**/  


/*  DESCTOP  */
@media (min-width: 811px){

  .nav-link{
    color: #31030F!important;
    font-size: 1em!important;
    font-weight: 300;
    margin: 0 .3em;
  }
  .nav-link:hover{
    color: var(--bordo) !important;
  }

  #base_min .nav-item .nav-link{
    color: #31030F!important;
    font-size: 1.8em!important;
    font-weight: 200;

    padding: .3em 0 .3em .3em!important;
  }
  #base_min .nav-item .nav-link:hover{
    color: var(--black) !important;
    background-color: var(--red)!important;
    transition: color .5s ease-in-out,background-color .3s ease-in-out,border-color .3s ease-in-out!important;
  }



  .img_header {
    margin-top: -12em;
    position: absolute;
    z-index: -999;
    width: 100%;
    height: 100vh;
    overflow-y: clip;
    opacity: .7;
    object-fit: cover;
  }

  .category_header{
    margin-top: -40em;
    padding-bottom: 8em;
  }

  .h1_header{
    margin-top: -30em;
    padding-bottom: 6em;
  }


  .h1_24-5{
    font-size: 5em;
  }
  .very_big{
    color: var(--red);
    font-size: 9em;
    font-weight: 200;
  }

  .index_sub{
    color: var(--bordo_dark);
    font-size: 4em;
    position: relative;
  }


  .very_big_catalog{
    color: var(--red);
    font-size: 12em;
  }

  .catalog_h1{
    font-size: 5em;
  }
  .catalog_sub{
    color: var(--bordo_dark);
    font-size: 3.3em;
    position: relative;
  }
  .big_guar{
    font-size: 6em;
  }
  .big_h2_guar{ 
    font-size: 3.5em;
  }
  .main_right_img{ 
    position: relative;
    right: -3em;
    top:-2em;
  }

  .footer_brand{
    font-weight: 100;
    font-size: 8em;
    padding: 0 0 0 .3em;
  }
  .footer_logo{
    height: 10em;
  }

  .cat_container_header{
    margin-top: -32em;
    position: relative;
    z-index: 444;
    padding-bottom: 4em;
  }
  .cat_back_header{
    position: relative;
    object-fit: cover;
    z-index: -111;
    opacity: .5;
    max-height: 90vh;
  }
  .cat_overlay {
    position: relative;
    max-height: 90vh;
    /*rgb(214, 222, 230)*/
    background: rgba(111,111,111, 0.2);
  }



  .cars_container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    width: 96%;
    margin-left: auto;
    margin-right: auto;
  }
  .case_prev{
    height: 280px;
    max-width: 100%;
    object-fit: cover;
  }
  .case_prev:hover{
    /*filter: hue-rotate(30deg);*/
    opacity: 1;
   }

  .full_img{
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .img_auto{
    height: auto;
    width: auto;
  }

  .partner_logo{
    max-height: 5em
  }


  .callme_container{
    margin-top: 7em;
    margin-left: auto;
    margin-right: auto;
    width: 20em;
    border-radius: 8px;
    overflow: hidden;
  }
  .close {
    color: #A3A2A2;
    position: relative;
    font-size: 60px;
    font-weight: 100;
    transition: 0.3s;
    z-index: 2;
  }


  /* THE CASE PAGE */

  .car_header{
    height: 40em;
    overflow-y: clip;
    object-fit: cover;
  }
  .case_back_header{
    position: relative;
    z-index: -111;
    opacity: .5;
  }

  .car_summary{
    padding: .5em 0 0 3em;
  }

  .case_container_header{
    position: relative;
    z-index: 11;
    margin-top: -28em;
    padding: 0 0 0 10em;
  }
  .the_car_name{
    font-weight: 500;
    font-size: 2em;
  }
  .the_car_price{
    font-size: 1.6em;
  }
  .the_case_param{
    font-weight: 550;
    font-size: 1.2em;
  }
  .the_car_info{
    font-weight: 300;
    font-size: 1.2em;
    line-height: .9em;
  }
  .banner_big{
    font-size: 7.6em;
    font-weight: 300;
    line-height: .9;
  }
  .banner_middle{
    font-size: 4.2em;
    font-weight: 300;
    line-height: .9;
  }


  .btn_red{
    background-color: var(--red);
    border-radius: 8px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: var(--white);
    font-size: 1em;
    font-weight: 300;
    padding: .4em .8em;
  }

  .btn_whatsapp{
    background-color: #2E6C2D;
    color: var(--white);
    border-radius: 8px;
    border: none;
    font-size: 1em;
    font-weight: 300;
    padding: .4em .8em;
    font-weight: 300;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}


/**//**//**//**//**//**/  


/*  TABLET  */


/**//**//**//**//**//**/  


/*  PHONE  */
@media (max-width: 810px) {

  .nav-link{
    color: #010305!important;
    font-weight: 300;
    margin: 0 .3em;
  }
  .nav-link:hover{
    color: #0c365c!important;
  }


  .img_header {
    margin-top: -4em;
    position: absolute;
    z-index: -999;
    width: auto;
    height: 130vh;
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    opacity: .7;
    object-fit: cover;
  }

  .catalog_head_img{
    left: -36%;
    position: relative;
    width: 28em;
  }
  .sub_logo{
    font-size: 2.2em;
    line-height: .8;
  }
  .h1_24-5{
    font-size: 2.4em;
  }

  .very_big{
    color: var(--black);
    font-size: 4.5em;
    font-weight: 300;
    line-height: .9;
    width: 86%;
  }
  .index_sub{
    color: var(--red);
    font-size: 2.4em;
    position: relative;
    top: -1em;
  }


  .very_big_catalog{
    color: var(--black);
    font-size: 4.6em;
    font-weight: 300;
  }
  .catalog_h1{
    font-size: 2.2em;
    margin-top: -4em;
  }

  .catalog_sub{
    color: var(--bordo_dark);
    font-size: 2em;
    line-height: .9;
    position: relative;
  }

  .main_right_img{
    height: 35vh;
    position: relative;
    right: -2em;
    top: -2.5em;
    overflow-x: clip;
  }

  .category_header{
    margin-top: 12em;
    padding-bottom: 6em;
  }


  .big_guar{
    font-size: 3em;
  }
  .big_h2_guar{ 
    font-size: 1.5em;
  }

  .h1_header{
    margin-top: 12em;
    padding-bottom: 6em;
  }

  .footer_brand{
    font-weight: 300;
    font-size: 2.5em;
    padding: .5em;
  }
  .footer_logo{
    height: 8em;
  }

  .cat_container_header{
    margin-top: -22em;
    position: relative;
    z-index: 444;
    padding-bottom: 4em;
  }
  .cat_back_header{
    position: relative;
    object-fit: cover;
    z-index: -111;
    opacity: .5;
    max-height: 90vh;
  }
  .cat_overlay {
    position: relative;
    max-height: 90vh;
    /*rgb(214, 222, 230)*/
    background: rgba(111,111,111, 0.2);
  }
  

  .cars_container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    width: 96%;
    margin-left: auto;
    margin-right: auto;
  }
  .case_prev{
    height: 300px;
    width: 100%;
    object-fit: cover;
  }
  .case_prev:hover{
    filter: hue-rotate(30deg);
    opacity: 1;
   }

  .full_img{
    width: 20em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


  /*.thumb{
    width: 100%;
  }*/

  .partner_logo{
    max-height: 2.2em
  }

  .callme_container{
    border-radius: 8px;
    width: 100vw;
    overflow: hidden;
  }
  .close {
    color: #A3A2A2;
    position: absolute;
    font-size: 80px;
    font-weight: 100;
    transition: 0.3s;
    z-index: 2;
  }


  /* THE CASE PAGE */

  .car_header{
    height: 16em;
    overflow-y: clip;
    object-fit: cover;
  }

  .the_case_header{
    font-weight: 200;
    font-size: 2.3em;
    padding: .2em 0 1em 0;
  }
  .case_back_header{
    position: relative;
    z-index: -111;
    opacity: .5;
  }
  .card_overlay {
    background: rgba(0, 0, 0, 0.7);
    height: 70vh;
  }

  .case_container_header{
    position: relative;
    z-index: 11;
    margin-top: -32em;
  }
  .the_case_param{
    font-weight: 550;
    font-size: 1.1em;
  }
  .the_case_info{
    font-weight: 300;
    font-size: 1.1em;
  }

  .banner_big{
    font-size: 3em;
    font-weight: 300;
    line-height: .9;
  }
  .banner_middle{
    font-size: 1.6em;
    font-weight: 300;
    line-height: .9;
  }

  .btn_red{
    background-color: var(--red);
    border-radius: 8px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: var(--white);
    font-size: .9em;
    font-weight: 300;
    padding: .4em .8em;
  }


  .btn_whatsapp{
    background-color: #2E6C2D;
    border-radius: 8px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: var(--white);
    font-size: .9em;
    font-weight: 300;
    padding: .4em .8em;
  }

}


/**//**//**//**//**//**/  


 





/*  MODAL WINDOW  */

.modal_full{
  display: none;
  position: fixed;
  z-index: 1777;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5)!important;
}

.modal_container{
  /*height: 10em;*/
}

.form_container{
  padding: 2em 2em 1em 2em;

}

  /*  DESCTOP  */
@media (min-width: 811px){
    .popup_big_logo{
      max-width: 10em;
      margin: -2em auto 1em;
    }
}
  /*  PHONE  */
@media (max-width: 810px) {
    .popup_big_logo{
      max-width: 10em;
      margin: 2em auto 1em;
    }
}


.thumb {
  display: block;
 }

.hide {
    display: none;
}

.block {
    display: block;      
}




.gsap-marker-end, .gsap-marker-start, .gsap-marker-scroller-end, .gsap-marker-scroller-start{
  opacity: 0%!important;
}

.illustr_sm{
  width: 3em;
}
.illustr{
  width: 6em;
}
.illustr_big{
  width: 9em;
}
.illustr, .illustr_sm, .illustr_big{
  position: absolute;
}


.mesh_cover{
  background-repeat: no-repeat;
  background-size: cover;
}