{% load static %}

    <div class='thumb button_form_base center mt-3 mb-2 black'>Заказать звонок</div>

    <div class='modal_full hide'>
      <span class="close" onclick="closeModal(this);">&times;</span>

      <div class=''>
        
        <form method="post" class="callme_container white_bg">
          <img class='w-100 p-5' src='{% static "brand/logo.svg" %}'>
          <div class='form_container we_300'>
            <h3 class='pb-3'>Заказать звонок</h3>

            {{ callme_form.as_p }}
            
            {% csrf_token %}
          
          <center class='py-3'><input type="submit" value="Получить консультацию" class="button_dark"></center>

          <p class='pt-3 smaller'>* Нажимая на кнопку "Получить консультацию", Вы соглашаетесь с <u><a class='gray_dark' href='{% url "main:privacy" %}'>Политикой конфиденциальности</a></u>.</p>
          </div>
        </form>

      </div>
    </div>
