{% load static %}

<div class='modal_container' onclick='showModal(this);'>
  <button class='thumb button_form_base mt-3 mb-2 black'>Получить консультацию</button>

    <div class='modal_full hide'>
      <div class=''>
        
        <div class='d-flex flex-row-reverse pe-3'>
          <span class="close" onclick="closeModal(this);">&times;</span>
        </div>
        
        <form method="post" class="callme_container white_bg">
          <center><img class='popup_big_logo' src='{% static "brand/logo.svg" %}'></center>

          <div class='form_container we_300'>

            <label class='' for="{{ legal_help_form.where_auto.id_for_label }}">Где сейчас находится авто? В РФ / в др.стране / на таможне?</label>
            {{ legal_help_form.where_auto }}
          
            <label class='' for="{{ legal_help_form.documents.id_for_label }}">Какие документы у вас есть сейчас?</label>
            {{ legal_help_form.documents }}
            
            <label for="{{ legal_help_form.first_name.id_for_label }}">{{ legal_help_form.first_name.label }}</label>
            {{ legal_help_form.first_name }}

            <label class='pt-2' for="{{ legal_help_form.phone.id_for_label }}">{{ legal_help_form.phone.label }}</label>
            {{ legal_help_form.phone }}
            
            {% csrf_token %}
          
            
            {% csrf_token %}
          
          <center class='py-3'><input type="submit" value="Получить консультацию" class="button_dark"></center>

          <p class='pt-3 smaller'>* Нажимая на кнопку "Получить консультацию", Вы соглашаетесь с <u><a class='gray_dark' href='{% url "main:privacy" %}'>Политикой конфиденциальности</a></u>.</p>
          </div>
        </form>

      </div>
    </div>
</div>