 {% load static %}
 <div class='modal_container' onclick='showModal(this);'>
    
    <div class='thumb button_form_base mt-3 mb-5 py-2'>Хочу такую же</div>

    <div class='modal_full hide'>
      <span class="close" onclick="closeModal(this);">&times;</span>

      <div class=''>
        
        <form method="post" class="callme_container white_bg">
          <img class='w-100 p-5' src='{% static "brand/logo.svg" %}'>
          <div class='form_container we_300'>

            {{ want_this_car.as_p }}
            
            {% csrf_token %}
          
          <center class='py-3'><input type="submit" value="Получить консультацию" class="button_dark"></center>

          <p class='pt-3 smaller'>* Нажимая на кнопку "Получить консультацию", Вы соглашаетесь с <u><a class='gray_dark' href='{% url "main:privacy" %}'>Политикой конфиденциальности</a></u>.</p>
          </div>
        </form>

      </div>
    </div>
  </div>