{% load static %}

<div class='modal_container' onclick='showModal(this);'>
  <button class='thumb button_form_base mt-3 mb-2 black'>Заполнить заявку на подбор</button>

    <div class='modal_full hide'>
      <div class=''>
        

        
        <form method="post" class="callme_container white_dirty_bg">
          <div class='d-flex flex-row-reverse pe-3'>
            <span class="close" onclick="closeModal(this);">&times;</span>
          </div>
          <center><img class='popup_big_logo' src='{% static "brand/logo.svg" %}'></center>



          <div class='form_container we_300'>

            <label class='' for="{{ shesterenky_need_form.year.id_for_label }}">Год выпуска авто</label>
            {{ shesterenky_need_form.year }}

            <label class='' for="{{ shesterenky_need_form.vin.id_for_label }}">VIN-номер</label>
            {{ shesterenky_need_form.vin }}

            <label class='' for="{{ shesterenky_need_form.its_name.id_for_label }}">Название детали</label>
            {{ shesterenky_need_form.its_name }}

            <label class='' for="{{ shesterenky_need_form.img.id_for_label }}">Фото детали</label>
            {{ shesterenky_need_form.img }}
                      
            <label for="{{ shesterenky_need_form.first_name.id_for_label }}">{{ shesterenky_need_form.first_name.label }}</label>
            {{ shesterenky_need_form.first_name }}

            <label class='pt-2' for="{{ shesterenky_need_form.phone.id_for_label }}">{{ shesterenky_need_form.phone.label }}</label>
            {{ shesterenky_need_form.phone }}
            
            {% csrf_token %}
          
            <center class='py-3'><input type="submit" value="Получить консультацию" class="button_dark"></center>

            <p class='pt-3 smaller'>* Нажимая на кнопку "Получить консультацию", Вы соглашаетесь с <u><a class='gray_dark' href='{% url "main:privacy" %}'>Политикой конфиденциальности</a></u>.</p>
          </div>
        </form>

      </div>
    </div>
</div>