{% extends 'main/base.html' %}
{% load static %}


{% block content %}


{% include 'cars/fun/flip_catalog.html' %}


<div class='desctop_84'>

  <div class='d-none d-lg-block d-xl-block d-xxl-block'>
    <center>
      <h1 class='catalog_h1 red we_300'>ЛУЧШИЕ МАШИНЫ СО ВСЕГО МИРА</h1>
      <h3 class='catalog_sub we_200 pb-3'>В наличии и под заказ</h3>
    </center>
  </div>

  <div class='d-block d-lg-none'>
    <h1 class='catalog_h1 red we_300'>ЛУЧШИЕ МАШИНЫ СО ВСЕГО МИРА</h1>
    <h3 class='pt-2 catalog_sub we_200'>В наличии</h3>
    <h3 class='catalog_sub we_200'>и под заказ</h3>
  </div>
</div>

<div class="d-flex justify-content-center mt-2">

  <div>{% include 'cars/popups/popup_call_me.html' %}</div>

  <div>
    <div class='button_form_base center mt-3 mb-2 ms-3 white'>
      <div class="d-flex justify-content-start">
        <img loading="lazy" class='py-1 pe-2 tg_btn_icon' src='{% static "icons/telegram_white.png" %}'><span class='pt-1'>В наличии</span>
      </div>
    </div>
  </div>
</div>



<section id='filters' class="black_hot_bg">
  {% include 'cars/filters/filters.html' %}
</section>

<!-- 
<section id='filter' class='black_bg py-3'>
  <div class="d-flex justify-content-center">
    <img loading="lazy" class='smm_head mx-2' src='{% static "icons/car.png" %}'>
    <img loading="lazy" class='smm_head mx-2' src='{% static "icons/bus.png" %}'>
    <img loading="lazy" class='smm_head mx-2' src='{% static "icons/work.png" %}'>
    <img loading="lazy" class='smm_head mx-2' src='{% static "icons/away.png" %}'>
  </div>
</section> 

 -->

<div class="desctop_84">

{% if queryset %}

  <div class='cars_container py-5'>

    {% for car in queryset %}

    <a href='{% url "cars:the_car" car.id %}'>
      <div class='wrap_car_img'>
        <img loading="lazy" src='{{car.main_img.url}}' class='case_prev'>
        <h3 class='car_name black ps-3 mt-4'>{{car.name}}</h3>
        <p class='black ps-3 pt-2 price_display'>{{car.price}} ₽</p>
      </div>
    </a>
    {% endfor %}

  </div>

  {% else %}

  <section id='nothing'>
    <div class="d-flex justify-content-start py-2">
      <div>
        <img loading="lazy" class='img_auto' src="{% static 'icons/search_64.png' %}" />
      </div>
      <div class='ps-2'>
        <h1 class='py-3 we_300'>Пожалуйста, измените параметры поиска</h1>
        <h3 class='pb-3 we_200'>Мы пока не добавили авто с такими параметрами в каталог</h3>
      </div>
    </div>
    
      
  </section>

  {% endif %}

</div>

</section>

{% endblock %}