{% extends 'main/base.html' %}
{% load static %}


{% block content %}
<section class='pb-4'>
  <div class='container'>

    <div class="row">
      <div class='col-6'>

        <h1 class='we_300 header_name pb-3'>АВТО</h1>
        <h3 class='pt-2 pb-4 red we_300'>В наличии и на заказ</h3>

        <div class="d-flex justify-content-start mt-4">
          <div>{% include 'main/form_popup.html' %}
          </div>
          <div>
            <div class='thumb button_form_base center mt-3 mb-2 ms-3 white'>В наличии</div>
          </div>
        </div>
      </div>
      <div class='col-6'>
        
      </div>

    </div>
  </div>
</section>


<section id='filter' class='black_bg py-3'>
  <img class='smm_head mx-2' src='{% static "icons/car.png" %}'>
  <img class='smm_head mx-2' src='{% static "icons/bus.png" %}'>
  <img class='smm_head mx-2' src='{% static "icons/work.png" %}'>
  <img class='smm_head mx-2' src='{% static "icons/away.png" %}'>
</section>


<div class="container mt-4">


  <div class='art_container py-5'>
    {% for car in cars %}
    <a href='#'>
      <div class='wrap_car_img'>
        <img src='{{car.main_img.url}}' class='case_prev'>
        <h3 class='case_name black'>{{car.name}}</h3>
      </div>
    </a>
    {% endfor %}
  </div>

</div>


{% endblock %}