{% extends 'main/base.html' %}
{% load static %}

{% block content %}


<section class=''>
	<div class='row'>

		<p class='d-block d-lg-none ps-5 pt-3 pb-1'><a href='{% url "cars:catalog" %}' class='small gray'>Каталог /</a> <a href='{% url "cars:catalog" %}' class='small gray'>Легковые авто</a></p>

		<div class='col-md-7 pb-4'>
			{% if the_car.main_img %}
			<img class="w-100 " src="{{ the_car.main_img.url }}">
			{% endif %}
		</div>

		<div class='col-md-5 pb-4 ps-5'>

			<div class='car_summary'>

				<p class='d-none d-lg-block d-xl-block d-xxl-block pb-4'><a href='{% url "cars:catalog" %}' class='small gray'>Каталог /</a> <a href='{% url "cars:catalog" %}' class='small gray'>Легковые авто</a></p>

				<h1 class='the_car_name'>{{ the_car.name }}</h1>
				<h3 class='the_car_price pb-4'>{{ the_car.price }} ₽</h3>

				<table>
					<tbody class='the_car_info'>
						<tr>
							<td><span class='we_500 pe-5'>Год выпуска:</span></td>
							<td>{{ the_car.year }}</td>
						</tr>
						<tr>
							<td><span class='we_500 pe-5'>Двигатель:</span></td>
							<td>{{ the_car.engine }}</td>
						</tr>
						<tr>
							<td><span class='we_500 pe-5'>Пробег:</span></td>
							<td>{{ the_car.mileage }} км</td>
						</tr>
						<tr>
							<td><span class='we_500 pe-5'>Трансмиссия:</span></td>
							<td>{{ the_car.transmission }}</td>
						</tr>
						<tr>
							<td><span class='we_500 pe-5'>Привод:</span></td>
							<td>{{ the_car.drive }}</td>
						</tr>
					</tbody>
				</table>

				<div class='mt-5'>
				{% include 'main/form_popup.html' %}
				</div>
			</div>
		</div>
	</div>

</section>

{% endblock %}