{% extends 'main/base.html' %}
{% load static %}

{% block content %}


<section class=''>
	<div class='row'>
		<p class='d-block d-lg-none ps-5 pt-3 pb-1'><a href='{% url "cars:catalog" %}' class='small gray'>Каталог /</a> <a href='{% url "cars:catalog" %}' class='small gray'>{{ the_car.category }}</a></p>

		<div class='col-md-7 pb-4'>
			{% include 'cars/carousel_the_car.html' %}
		</div>

		<div class='col-md-5 pb-4 ps-5'>

			<div class='car_summary'>

				<p class='d-none d-lg-block d-xl-block d-xxl-block pb-4'><a href='{% url "cars:catalog" %}' class='small gray'>Каталог /</a> <a href='{% url "cars:catalog" %}' class='small gray'>Легковые авто</a></p>

				<h1 class='the_car_name'>{{ the_car.name }}</h1>
				<h3 class='the_car_price price_display pt-2 pb-4'>{{ the_car.price }} ₽</h3>

				<table>
					<tbody class='the_car_info'>
						<tr>
							<td><span class='we_500 pe-5'>Год выпуска:</span></td>
							<td>{{ the_car.year }}</td>
						</tr>
						<tr>
							<td><span class='we_500 pe-5'>Двигатель:</span></td>
							<td>{{ the_car.engine }}</td>
						</tr>
						<tr>
							<td><span class='we_500 pe-5'>Пробег:</span></td>
							<td>{{ the_car.mileage }} км</td>
						</tr>
						<tr>
							<td><span class='we_500 pe-5'>Трансмиссия:</span></td>
							<td>{{ the_car.transmission }}</td>
						</tr>
						<tr>
							<td><span class='we_500 pe-5'>Привод:</span></td>
							<td>{{ the_car.drive }}</td>
						</tr>
					</tbody>
				</table>

				<div class='mt-5'>
				{% include 'cars/popups/popup_want_this.html' %}
				</div>
			</div>
		</div>
	</div>
</section>

<section class=''>
	<div class='desctop_84 my-4'>
		<h2 class='we_400 gray the_car_name'>ИНТЕРЕСНЫЕ ВАРИАНТЫ</h2>
	</div>
{% include 'cars/carousel_new.html' %}
</section>


{% include 'cars/banner_want_similar.html' %}


<section class='pt-5'>
	<div class='desctop_84'>
		<div class='d-none d-lg-block d-xl-block d-xxl-block'>
			<br><br>
		</div>

		<div class="d-flex justify-content-start">
			<h2 class='we_400 red the_car_name pe-5'>МАШИНЫ С ПРОБЕГОМ</h2>
			<div>{% include 'cars/popups/btn_to_tg.html' %}</div>
		</div>
	</div>
{% include 'cars/carousel_used.html' %}
</section>

<section>
	{% include 'cars/banner_guarantee_insurance.html' %}
</section>

{% endblock %}