{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<style type="text/css">
  #bez_pyli{
    max-width: 20em;
  }
    /* mobile */
  @media (max-width: 810px) {
    .big_contact{
      font-size: 4em;
    }
    .ellipse_3{
      height: 30em;
      position: absolute;
      z-index: -4;
      top: 48%;
      left: -80%;
    }
  }
    /* desctop */
  @media (min-width: 811px){
    .big_contact{
      font-size: 6em;
    }
    .ellipse_3{
      height: 60em;
      position: absolute;
      z-index: -4;
      top: -6%;
      left: 65%;
    }
  }
</style>

<!-- 
<section class=''>
  <img class='img_header' src="{% static 'abstract/mesh_5.png' %}">
</section> -->

<img class='ps-5 abstract ellipse_3' src='{% static "abstract/ellipse_3_white.svg" %}'>

<div class='desctop_84 pb-5'>

    <div class="row">
      <div class="col-md-4">

        <h1 class='big_contact pb-3 red we_300'>О НАС</h1>
        <div class=" we_300">
          <p><span class='we_400'>Александр</span> — бизнесмен, автоэксперт, пауэрлифтер</p>
          <p><span class='we_400'>Фёдор</span> — предприниматель и меценат</p>
          <p><span class='we_400'>Дмитрий</span> — инвестор и специалист в сфере недвижимости</p>
          <p><span class='we_400'>Игорь</span> — бизнесмен, арт-критик, ЗОЖник</p>

          <p class="pt-3 we_400">Что нас объединяет?</p>Дружба! И несколько совместных бизнес-проектов.
          <p>А ещё тяга исследовать новое. 
          <p>Смотрите свежие выпуски на нашем канале:
        </div>

        <a href='https://youtube.com/@bezpili78?si=kQtvLs9u3OWsO0TR'><img id='bez_pyli' class='my-4' src="{% static 'logos/bez_pyli.png' %}"></a> 
          
        </div>


      <div class="col-md-8 ">
        <div class='row'>
          <div class="col-md-6">
            <a href='https://youtu.be/zF9lWkOuN6A?si=b2hJf37MOzQInpSx'><img class='w-100 my-2' src="{% static 'img/zastavky_pokupat_avto_opasno.png' %}"></a> 
            <a href='https://youtu.be/mgxgv381kvs?si=ALQw9u05C5TJqLOC'><img class='w-100 my-2' src="{% static 'img/zastavky_BMW_1.png' %}"></a> 
            
          </div>
          <div class="col-md-6">
            <a href='https://youtu.be/PiI6GyoWZUA?si=0Ex9RzBL1H5owJLK'><img class='w-100 my-2' src="{% static 'img/zastavky_smotrim_2shky.png' %}"></a> 
            <a href='https://youtu.be/pC4wmXi2FwU?si=ovb60FdkfVYh5nKm'><img class='w-100 my-2' src="{% static 'img/zastavky_nude_king.png' %}"></a> 
          </div>
        </div>
      </div>
  </div>

</div>




{% endblock %}