{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<style type="text/css">
  #bez_pyli{
    max-width: 20em;
  }
    /* mobile */
  @media (max-width: 810px) {
    .big_contact{
      font-size: 4em;
    }
    .ellipse_3_white{
      height: 36em;
      position: absolute;
      z-index: -4;
      top: -8%;
      left: 12%;
    }
  }
    /* desctop */
  @media (min-width: 811px){
    .big_contact{
      font-size: 6em;
    }
    .ellipse_3_white{
      height: 70em;
      position: absolute;
      z-index: -4;
      top: -26%;
      left: -20%;
    }
  }
</style>



<img class='abstract ellipse_3_white' src='{% static "abstract/ellipse_3_white.svg" %}'>

<div class='desctop_84 pb-5'>
  <div class="row">

    <div class="col-md-6 pb-5">
      <h1 class='big_contact pb-2 we_300'>КОНТАКТЫ</h1>

      <h3 class="pt-3 we_200">Исполнительный директор</h3> 
      <p class='large_text'>director@rgspace.pro</p>

      <h3 class="pt-3 we_200">Отдел продаж</h3> 
      <p class='large_text'>sales@rgspace.pro</p>
   
      <h3 class="pt-3 we_200">По вопросам сотрудничества:</h3> 
      <p class='large_text'>partners@rgspace.pro</p>
    
      <h3 class="pt-3 we_200">По общим вопросам:</h3> 
      <p class='large_text'>info@rgspace.pro</p> 
    </div>

    <div class="col-md-6">
      <img loading="lazy" class='w-100' src='{% static "office/dreaming.png" %}'>
    </div>

  </div>
</div>




{% endblock %}