{% extends 'main/base.html' %}
{% load static %}

{% block content %}



  <div class='desctop_84'>
    <h1 class='very_big pb-2 we_300 red'>ОТЗЫВЫ</h1>
    <hr><br>

    <h2 class=''>Купил и доволен!</h2>
    <p>Спасибо за помощь в подборе! Машина - огонь.
    <img class='py-5 img-fluid' src="{% static 'img/under_bridge.jpg' %}">


    <h2 class=''>Быстро и чётко</h2>
    <p>Взял машину тёще, оформил ещё гарантию у ребят, теперь не страшно, как она там рулить будет.
    <img class='py-5 img-fluid' src="{% static 'img/dark.jpg' %}">

    <section class='pt-2'>
     {% include 'cars/popups/popup_call_me.html' %}
    </section>

  </div>


{% endblock %}