{% extends 'main/base_min.html' %}
{% load static %}

{% block content %}
<style type="text/css">
  #red_header_ellipce{
    position: absolute;
    width: 45em;
    top: 10%;
    left: 60%;
    z-index: -7;
  }


  .mesh_1{
    background-image: url("{% static 'abstract/mesh_1.png' %}");
  }
   .mesh_2{
    background-image: url("{% static 'abstract/mesh_2.png' %}");
  }
  .mesh_3{
    background-image: url("{% static 'abstract/mesh_3.png' %}");
  }
  .mesh_4{
    background-image: url("{% static 'abstract/mesh_4.png' %}");
  }
  .mesh_5{
    background-image: url("{% static 'abstract/mesh_5.png' %}");
  }
  .mesh_5_mob{
    background-image: url("{% static 'abstract/mesh_5_mob.png' %}");
  }

  #h2_prof{
    position: absolute;
    z-index: 4;
    left: 30%;
    top:3%
  }
  #h2_prof h2{
    font-size: 9em;
    line-height: .9;
  }
  #founders{
    position: absolute;
    z-index: 5;
    width: 60em;
    bottom: 0%;
    left: 25%;
  }

  
  #calend{
    width: 12em;
    position: absolute;
    animation: levitation_calend 5s infinite;
  }
  @keyframes levitation_calend {
    0% {
      top: 30%;
      left:84%;
    }
    50% {
      top: 31%;
      left:84%;

    }
    100% {
      top: 30%;
      left:84%;
    }
  }

  #elem_4{
    width: 9em;
    position: absolute;
    animation: levitation_elem_4 6s infinite;
  }
  @keyframes levitation_elem_4 {
    0% {
      top: 23%;
      left:15%;
    }
    50% {
      top: 22%;
      left:15%;

    }
    100% {
      top: 23%;
      left:15%;
    }
  }
  #thing_19{
    width: 7em;
    position: absolute;
    animation: levitation_thing_19 7s infinite;
  }
  @keyframes levitation_thing_19 {
    0% {
      top: 3%;
      left:5%;
    }
    50% {
      top: 5%;
      left:5%;

    }
    100% {
      top: 3%;
      left:5%;
    }
  }
  #clay{
    width: 10em;
    position: absolute;
    animation: levitation_clay 6s infinite;
  }
  @keyframes levitation_clay {
    0% {
      top: 3%;
      left:75%;
    }
    50% {
      top: 5%;
      left:75%;

    }
    100% {
      top: 3%;
      left:75%;
    }
  }

</style>


{% include 'main/parts/space_of_move.html' %}




<br><br><br><br><br><br><br><br><br><br><br><br>
<!-- <div class='d-none d-lg-block d-xl-block d-xxl-block'>
  <img loading="lazy" class='img_header' src="{% static 'abstract/mesh_5.png' %}">
</div>
<div class='d-block d-lg-none'>
  <img loading="lazy" class='img_header' src="{% static 'abstract/mesh_5_mob.png' %}">
</div> -->


<!-- <div class='desctop_84'>

  <div class='d-none d-lg-block d-xl-block d-xxl-block'>
    <div class='row'>
      <div class='col-md-6'>
          <h1 class='very_big'>ПРОСТРАНСТВО ДВИЖЕНИЯ</h1>

          <h2 class='pt-2 pb-4 we_300 index_sub pt-4'>Лучшие машины ойкумены</h2>
           {% include 'cars/popups/popup_call_me.html' %}
      </div>
      <div class='col-md-6'>
        <img loading="lazy" id='main_right_desctop' class='main_right_img' src="{% static 'transperent/Audi_Q6_black.png' %}" />
        <img loading="lazy" id='red_header_ellipce' class='' src="{% static 'abstract/ellipse_2.svg' %}" alt="" />

      </div> 
    </div>
  </div>

  <div class='d-block d-lg-none'>
    <div class='row'>
      <div class='col-md-6 pt-4'>
        <h1 class='very_big'>ПРОСТР</h1>
        <h1 class='very_big'>АНСТВО</h1>
        <h1 class='very_big'>ДВИЖЕ</h1>
        <h1 class='very_big'>НИЯ</h1>
      </div>
      <div class='col-md-6'>
        <img loading="lazy" class='main_right_img' src="{% static 'transperent/Audi_Q6_black.png' %}" />
      </div> 
    </div>

    <h2 class='pt-2 pb-4 we_300 index_sub'>Лучшие машины ойкумены</h2>
      {% include 'cars/popups/popup_call_me.html' %}
  </div>
</div> -->


<!--   <div class="base">
    <section class='relative_block mesh_3 mesh_cover'>


      <h1 class='very_big'>ПРОСТРАНСТВО ДВИЖЕНИЯ</h1>

      <h2 class='pt-2 pb-4 we_300 index_sub pt-4'>Лучшие машины ойкумены</h2>
      {% include 'cars/popups/popup_call_me.html' %}

     <img loading="lazy" id='' class='absolute_center' src="{% static 'abstract/ellipse_twice.svg' %}" alt="" /> 

      <div id='h2_prof' class="">
              
        <div class='d-block d-lg-none'>
          <h2 class="white_dirty we_200 ps-5">ЭКСПЕР</h2>
          <h2 class="white_dirty we_200 ps-5">ТНОСТЬ</h2>
          <br><br><br><br>
        

          <h2 class=" we_200">ПРОФЕС</h2>
          <h2 class=" we_200">CИОНА</h2>
          <h2 class=" we_200">ЛИЗМ</h2> 
        </div>

      </div>

      <img loading="lazy" id='logo_1' class='absolute_center p-5' src='{% static "brand/logo_light_auto.svg" %}'>

      <img loading="lazy" id='elem_4' class='illustr_sm' src="{% static 'illustr/Cone_01_2.svg' %}" alt="" />
      <img loading="lazy" id='calend' class='illustr_sm'  src="{% static 'illustr/calendar_front.svg' %}" alt="" />

      <div class='d-none d-lg-block d-xl-block d-xxl-block'>
        <img loading="lazy" id='thing_19' class='illustr_sm'  src="{% static 'illustr/18.svg' %}" alt="" />
        <img loading="lazy" id='clay' class='illustr_sm'  src="{% static 'illustr/clay.svg' %}" alt="" />

        <img loading="lazy" id='beauty_car_1' class='illustr_sm'  src="{% static 'transperent/beauty_car_1.png' %}" alt="" />
        <img loading="lazy" id='BMW320i' class='illustr_sm'  src="{% static 'transperent/BMW320i.png' %}" alt="" />
      </div>

  </div> -->


<!--     <div class='row py-5'>
      <div class='col-md-4 my-3'>
        <h3 class='we_300'><span class='red'>Продажа</span> новых и подержанных <span class='red'>автомобилей</span> ведущих мировых брендов.</h3>
      </div>
      <div class='col-md-4 my-3'>
        <h3 class='we_300'>Профессиональное <span class='red'>сервисное обслуживание:</span> от технического осмотра до сложного ремонта.</h3>
      </div>
      <div class='col-md-4 my-3'>
        <h3 class='we_300'><span class='red'>Услуги страхования, кредитования и лизинга</span>, позволяющие каждому клиенту найти оптимальное финансовое решение.</h3>
      </div>
    </div> -->

  </div>



{% include 'main/parts/index_parallax.html' %}



<!-- DESCTOP -->
<div class='d-none d-lg-block d-xl-block d-xxl-block pb-5'>
  {% include 'main/parts/directions.html' %}
</div>

<!-- PHONE -->
<div class='d-block d-lg-none'>
  {% include 'main/parts/directions_mob.html' %}
</div>


 
{% endblock %}