{% extends 'main/base.html' %}
{% load static %}

{% block content %}


<style type="text/css">

  #bubbles_wrap{
    position: relative;
    height: 50vh;
    overflow: hidden;
  }
  #bubbles{
    position: relative;
    width: 80%;
    height: 100vh;
  }

  /* mobile */
  @media (max-width: 810px) {

    .big_insh{
      font-size: 4em;
      line-height: .9em;
    }

    .ellipse_twice{
      position: absolute;
      width: 26em;
      top: 10%;
      left: 54%;
    }
  }

  /* desctop */
  @media (min-width: 811px){
    .big_insh{
      font-size: 6em;
    }
    
    .ellipse_twice{
      position: absolute;
      width: 60em;
      top: -30%;
      left: 44%;
    }

  }

</style>


{% include 'main/parts/insurance_animate_header.html' %}



<section class="mt-5 white_bg">
  <div class="desctop_84 py-3">
    <h2 class='big_h2_guar we_200 pt-5'>НОВЫЕ ИНОМАРКИ</h2>
    <h3 class="we_300 red">Из разных точек мира</h3>
  </div>
  {% include 'cars/carousel_new.html' %}
</section>

<section>
    {% include 'cars/banners/banner_catalog_feedback.html' %}
</section>




{% endblock %}