{% extends 'main/base.html' %}
{% load static %}

{% block content %}


<style type="text/css">

  #bubbles_wrap{
    position: relative;
    height: 50vh;
    overflow: hidden;
  }
  #bubbles{
    position: relative;
    width: 80%;
    height: 100vh;
  }

  /* mobile */
  @media (max-width: 810px) {

    .big_insh{
      font-size: 4em;
      line-height: .9em;
    }

    .ellipse_twice{
      position: absolute;
      width: 26em;
      top: 10%;
      left: 54%;
    }
  }

  /* desctop */
  @media (min-width: 811px){
    .big_insh{
      font-size: 6em;
    }
    
    .ellipse_twice{
      position: absolute;
      width: 60em;
      top: -30%;
      left: 44%;
    }

  }

</style>


{% include 'main/parts/inshurance_animate_header.html' %}



<div>
    {% include 'main/parts/running_str_inshurance.html' %} 
</div>

<div class='desctop_50'>

  <h2 class="red pt-4 pb-2 big_h2_guar we_300">Что влияет на стоимость КАСКО?</h2>
  <p class="large_text my-4 we_400">Среди факторов, влияющих на стоимость страховки:</p>

  <p>• Характеристики автомобиля: возраст, мощность двигателя
  <p>• Цены на запчасти и услуги ТО для марки автомобиля в вашем городе
  <p>• Возраст и стаж вождения всех водителей машины; их страховая история
  <p>• Тип охранного устройства автомобиля
  <p>• Статистика угонов конкретной марки и модели транспортного средства в вашем регионе
  <p>• Место ночной парковки — гараж, охраняемая стоянка или просто улица
  <p>• Дополнительные услуги, включенные в полис (например, эвакуация, выезд аварийного комиссара)

  <div class='py-3'>
  {% include 'cars/popups/popup_casco_count.html' %}
  </div>

</div>

<section class="mt-5 white_dirty_bg">
  <div class="desctop_84 py-3">
    <h2 class='big_h2_guar we_200 pt-5'>НОВЫЕ ИНОМАРКИ</h2>
    <h3 class="we_300 red">Из разных точек мира</h3>
  </div>
  {% include 'cars/carousel_new.html' %}
</section>

<section>
    {% include 'cars/banners/banner_catalog_feedback.html' %}
</section>




{% endblock %}