{% extends 'main/base.html' %}
{% load static %}

{% block content %}

<style type="text/css">
    /*  DESCTOP  */
  @media (min-width: 811px){
    .ellipse_3{
      position: absolute;
      width: 74em;
      top: -27%;
      left: 32%;
    }
    .ellipse_big{
      position: absolute;
      width: 34em;
      top: 25%;
      left: 70%;
    }
    #car_head{
      width: 80%;
    }
  }
    /*  PHONE  */
  @media (max-width: 810px) {
    .ellipse_3{
      position: absolute;
      width: 34em;
      top: 22%;
      left: 33%;
    }
    .ellipse_big{
      position: absolute;
      width: 14em;
      top: 75%;
      left: -7%;
    }
    #car_head{
      width: 100%;
    }
  }
</style>

  <div class='desctop_84'>
    <div class="row mb-4">
      <div class='col-md-6'>
        <h1 class='we_300 h1_24-5 pt-2'>ЮРИДИЧЕСКАЯ ПОДДЕРЖКА</h1>
        <h2 class='pt-2 pb-5 we_300'>Берёмся за сложные случаи</h2>

        <section>
          <div class="d-flex align-items-start mt-2">
            <img loading="lazy" class='icon_3 me-2' src='{% static "icons/galka_red.png" %}'>
            <h2 class='pt-2 large_text we_300'>Юридическое сопровождение сделок трейд-ин</h2>
          </div>

          <div class="d-flex align-items-start">
            <img loading="lazy" loading="lazy" class='icon_3 me-2' src='{% static "icons/galka_red.png" %}'>
            <h2 class='pt-2 large_text we_300'>Полная проверка истории автомобиля с пробегом</h2>
          </div>

          <div class="d-flex align-items-start">
            <img loading="lazy" class='icon_3 me-2' src='{% static "icons/galka_red.png" %}'>
            <h2 class='pt-2 large_text we_300'>Юридическая поддержка в нестандартных ситациях </h2>
          </div>
        </section>

        <section class='pt-5 pb-4'>
          {% include 'cars/popups/popup_legal_help.html' %}
        </section>

      </div>

      <div class='col-md-6'>    
        <img loading="lazy" id='car_head' class='' src="{% static 'transperent/Audi_Q6_black.png' %}" alt="" />  
      </div>
    </div>

    <img class='abstract ellipse_3 ' src='{% static "abstract/ellipse_3.svg" %}'>
    <img class='abstract ellipse_big ' src='{% static "abstract/ellipse_big.svg" %}'>
      
  </div>



<section class='pt-4'>
  {% include 'cars/banners/banner_guarantee_insurance.html' %}
</section>

{% endblock %}