{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<style type="text/css">
  .salon_photo {
    height: 22em;
    overflow-y: clip;
    object-fit: cover;
  }
</style>


  <div class='desctop_84'>
    <h1 class='we_300 h1_24-5 pt-4'>ДИАГНОСТИКА И СЕРВИСНОЕ ОБСЛУЖИВАНИЕ</h1>
    <h2 class='we_300'>Опытные мастера, качественное оборудование</h2>  
    <br>
    <div class="row mt-4">
      <div class='col-md-6'>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce massa lorem, lobortis non pellentesque at, porta et sem. </p>
        <p>Praesent sed nibh in enim vehicula eleifend. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla non efficitur ligula. Pellentesque lobortis elementum commodo. Maecenas nec odio non libero feugiat fermentum ut ut ipsum. </p>
        <p>Nunc sit amet massa lobortis, convallis tellus eget, congue ante. Sed vitae est non neque viverra finibus vel eu libero. Maecenas vitae nisi sapien. 
        </p>
        <br>
        {% include 'cars/popups/popup_need_diagnostic.html' %}

        {% include 'cars/popups/popup_need_service.html' %}

        {% include 'cars/popups/popup_guarantee.html' %}
      </div>

      <div class='col-md-6'>
        <img class='w-100 salon_photo' src="{% static 'img/working.jpg' %}" class="direction_image_mob" alt="Каталог авто" />
      </div>
    </div>
      <br>
  </div>

<section>
    {% include 'cars/banners/banner_catalog_feedback.html' %}
</section>



{% endblock %}