{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<style type="text/css">
  
  /*  DESCTOP  */
  @media (min-width: 811px){
    .big_serv{
      font-size: 6em;
    }
  }
    /*  PHONE  */
  @media (max-width: 810px){
    .big_serv{
      font-size: 2.6em;
    }

  .ellipse_3{
      height: 66em;
      position: absolute;
      z-index: -4;
      top: -20%;
      left: 54%;
  }

  .ellipse_twice_white{
    position: absolute;
    width: 60em;
    top: -30%;
    left: 44%;
  }
  #elem_4{
    height: 7em;
    position: absolute;
    animation: levitation_elem_4 6s infinite;
  }
  @keyframes levitation_elem_4 {
    0% {
      top: 25%;
      left:92%;
    }
    50% {
      top: 27%;
      left:92%;

    }
    100% {
      top: 25%;
      left:92%;
    }
  }

  #clay{
    height: 9em;
    position: absolute;
    animation: levitation_clay 7s infinite;
  }
  @keyframes levitation_clay {
    0% {
      top: 35%;
      left: 48%;
    }
    50% {
      top: 33%;
      left: 48%;

    }
    100% {
      top: 35%;
      left: 48%;
    }
  }
</style>

{% include 'main/parts/service_animate_header.html' %}




<h1 class='pt-4 we_300 center'>Ждём вас в сервисном центре!</h1>


<!-- PHONE -->
<div class='d-block d-lg-none pt-3 ps-4'>
  {% include 'cars/popups/popup_need_service.html' %}
  <div class='pt-2'>
  {% include 'cars/popups/popup_need_diagnostic.html' %}
  </div>
</div>

<!-- DESCTOP -->
<div class='d-none d-lg-block d-xl-block d-xxl-block'>
  <section class='py-3 d-flex justify-content-center'>
      {% include 'cars/popups/popup_need_service.html' %}
      <div class='ms-3 mt-3'>
      {% include 'cars/popups/popup_need_diagnostic.html' %}
      </div>
  </section>
</div>
  


<section class="white_dirty_bg mt-5">
  <div class="desctop_84 py-3">
    <h2 class='big_h2_guar we_200 pt-2'>НОВЫЕ ИНОМАРКИ</h2>
    <h3 class="we_300 red">Из разных точек мира</h3>
  </div>
  {% include 'cars/carousel_new.html' %}
</section>

<section>
    {% include 'cars/banners/banner_catalog_feedback.html' %}
</section>



{% endblock %}