{% extends 'main/base.html' %}
{% load static %}

{% block content %}

<style type="text/css">
  .big_spares{
    font-size: 6em;
  }

  #cone_18{
    height: 5em;
    position: absolute;
    animation: levitation_cone_18 6s infinite;
  }
  #cone_3{
    height: 4em;
    position: absolute;
    animation: levitation_cone_3 5s infinite; 
  }
  #chrome8{
    height: 14em;
    position: absolute;
    animation: levitation_chrome8 5s infinite; 
  }
  @keyframes levitation_chrome8 {
    0% {
      top: 20%;
      left:65%;
    }
    50% {
      top: 21%;
      left:65%;

    }
    100% {
      top: 20%;
      left:65%;
    }
  }
  @keyframes levitation_cone_3 {
    0% {
      top: 35%;
      left:79%;
    }
    50% {
      top: 37%;
      left:80%;

    }
    100% {
      top: 35%;
      left:79%;
    }
  }
  @keyframes levitation_cone_18 {
    0% {
      top: 15%;
      left:55%;
    }
    50% {
      top: 17%;
      left:55%;

    }
    100% {
      top: 15%;
      left:55%;
    }
  }

  /* Next block */

  #jet{
    height: 14em;
    position: absolute;
    animation: levitation_jet 5s infinite; 
  }
  @keyframes levitation_jet {
    0% {
      top:61%;
      left:16%;
    }
    50% {
      top: 59%;
      left:16%;

    }
    100% {
      top: 61%;
      left:16%;
    }
  }
  #jet_mob{
    height: 14em;
    position: relative;
    animation: levitation_jet_mob 5s infinite; 
  }
  @keyframes levitation_jet_mob {
    0% {
      top: -1%;
      left: 10%;
    }
    50% {
      top: 0%;
      left: 10%;

    }
    100% {
      top: -1%;
      left: 10%;
    }
  }
  
  .spares_head_img{
    position: relative;
    width: 12em;
    animation: levitation_head_img 5s infinite; 
  }

  @keyframes levitation_head_img {
    0% {
      left: 0%;
      top:45%;;
    }
    50% {
      left: 3%;
      top:48%;
    }
    100% {
      left: 0%;
      top:45%;
    }
  }

  .very_big_sp{
    color: var(--red);
    font-size: 7.6em;
    line-height: .9;
    font-weight: 200;
  }
  .big_sp{
    font-size: 3.2em;
    line-height: .9;
  }
/*  DESCTOP  */
@media (min-width: 811px){
  .ellipse{
    width: 30em;
  }
  .ellipse_twice{
    position: absolute;
    width: 60em;
    top: -30%;
    left: 44%;
  }
  .ellipse_2{
    width: 16em;
    position: relative;
    right: 16%;
    top:10%;
  }
}
  /*  PHONE  */
@media (max-width: 810px) {
  .ellipse{
    width: 20em;
    position: relative;
  }
}
</style>

  
<!-- DESCTOP -->
<div class='d-none d-lg-block d-xl-block d-xxl-block'>
  <div class='desctop_84'>

    <h1 class='we_300 big_spares red pt-4'>ЗАПЧАСТИ</h1>
    <h2 class='pt-2 pb-4 we_300'>В наличии и под заказ из любой точки планеты</h2>

    <div class='d-none d-lg-block d-xl-block d-xxl-block'>
      <img class='ps-5 abstract ellipse_twice' src='{% static "abstract/ellipse_twice.svg" %}'> 
      <img id='cone_18' class='' src='{% static "illustr/Cone_01_2(18).svg" %}'>  
      <img id='cone_3' class='' src='{% static "illustr/Cone_01_2_3.svg" %}'>  
      <img id='chrome8' class='' src='{% static "illustr/chrome8.svg" %}'>  
    </div>

    <div class='row pt-4'>

      <div class='col-md-6 pe-5'>
        <p class='me-5 pe-5'>У нас есть выходы на официальных производителей, дилеров, а также разные каналы параллельного импорта. Найдем и доставим в Россию любую необходимую деталь!</p>
      </div>
      <div class='col-md-6'>
      </div>
    </div>

    <div class='row pt-5 pb-3'>
      <div class='col-md-6'>
        <img id='jet' class='' src='{% static "illustr/jet.png" %}'> 
        <img class='ps-5 abstract ellipse' src='{% static "abstract/ellipse_big.svg" %}'>
        <img class='ps-5 abstract ellipse_2' src='{% static "abstract/ellipse_2.svg" %}'> 

      </div>
      <div class='col-md-5'>
        <h2 class='pt-5 pb-4 we_300 big_spares red'>ДЕТАЛЬ ТОЧНО ПОДОЙДЁТ?</h2>
        <p>Чтобы быть уверенными в этом, мы осуществляем подбор запчастей по VIN-номеру. 
        <p>Разве модели и года выпска мало? Да. Автопроизводители в рамках конкретной модели машины никогда ограничиваются одной комплектацией. На это разнообразие влияют: дополнительное оснащение, регион эксплуатации и другие факторы.
        <p>Поэтому укажите, пожалуйста, в заявке на подбор VIN-номер.</p>

        <div class='py-4'>
          {% include 'cars/popups/popup_shesterenky_need.html' %}
        </div>
      </div>
    </div>
  </div>
</div>

<!-- PHONE -->
<div class='d-block d-lg-none '>
  <section class='desctop_84'>
    <div class="row">
      <div class='col-6 pt-3'>

        <h1 class='very_big_sp'>ЗАП</h1>
        <h1 class='very_big_sp'>ЧАС</h1>
        <h1 class='very_big_sp'>ТИ</h1>

      </div>
      <div class='col-6'>
          <img id='tools' class='spares_head_img' src="{% static 'illustr/chrome8.svg' %}" alt="" />
      </div>
    </div>

    <h2 class='py-5 we_300'>В наличии и под заказ из любой точки планеты</h2>

    <p>У нас есть выходы на официальных производителей, дилеров и разные каналы параллельного импорта. Найдем и доставим в Россию любую необходимую деталь!</p>

    <img id='jet_mob' class='' src='{% static "illustr/jet.png" %}'>


    <h2 class='pb-5 big_sp we_400 red'>А ДЕТАЛЬ ТОЧНО ПОДОЙДЁТ?</h2>
    <p>Чтобы быть уверенными в этом, мы осуществляем подбор по VIN-номеру. </p> 
    <p>Автопроизводители в рамках конкретной модели машины никогда не ограничиваются одной комплектацией.
    На это разнообразие влияют: дополнительное оснащение, регион эксплуатации и другие факторы.</p> 
    <p>Поэтому укажите, пожалуйста, в заявке на подор VIN-номер.</p>


  <div class='py-5'>
    {% include 'cars/popups/popup_shesterenky_need.html' %}
  </div>

</div>


<!--   <section class='desctop_84'>
    <h2 class=' pt-5'>ПОПУЛЯРНЫЕ МОДЕЛИ</h2>
    {% include 'cars/carousel_new.html' %}
  </section>
 -->
  <section class='mt04'>
    {% include 'cars/banners/banner_guarantee_insurance.html' %}
  </section>

{% endblock %}