{% extends 'main/base.html' %}
{% load static %}

{% block content %}

<style type="text/css">
  .big_spares{
    font-size: 6em;
  }

  /* Next block */

  #jet{
    height: 14em;
    position: absolute;
    animation: levitation_jet 5s infinite; 
  }
  @keyframes levitation_jet {
    0% {
      top:67%;
      left:16%;
    }
    50% {
      top: 69%;
      left:16%;

    }
    100% {
      top: 67%;
      left:16%;
    }
  }
  #jet_mob{
    height: 14em;
    position: relative;
    animation: levitation_jet_mob 5s infinite; 
  }
  @keyframes levitation_jet_mob {
    0% {
      top: -1%;
      left: 10%;
    }
    50% {
      top: 0%;
      left: 10%;

    }
    100% {
      top: -1%;
      left: 10%;
    }
  }
  

  .very_big_sp{
    color: var(--red);
    font-size: 7.6em;
    line-height: .9;
    font-weight: 200;
  }
  .big_sp{
    font-size: 3.2em;
    line-height: .9;
  }

  /*  DESCTOP  */
  @media (min-width: 811px){
    .ellipse{
      width: 30em;
    }
    .ellipse_twice{
      position: absolute;
      width: 60em;
      top: -30%;
      left: 44%;
    }
    .ellipse_2{
      width: 16em;
      position: relative;
      right: 16%;
      top:10%;
    }
  }
    /*  PHONE  */
  @media (max-width: 810px) {
    .ellipse{
      width: 20em;
      position: relative;
    }
  }
</style>



{% include 'main/parts/spares_animate_header.html' %}



<div class='desctop_84'>
  <h2 class='pt-5 pb-4 we_300 big_guar red'>ДЕТАЛЬ ТОЧНО ПОДОЙДЁТ</h2>
    <p>Чтобы быть уверенными в этом, мы осуществляем подбор запчастей по VIN-номеру. 
    <p>Разве модели и года выпска мало? Да. Автопроизводители в рамках конкретной модели машины никогда ограничиваются одной комплектацией.<br>На это разнообразие влияют: дополнительное оснащение, регион эксплуатации и другие факторы.
    <p>Поэтому укажите в заявке на подбор VIN-номер.</p>

    <div class='pt-2 pb-4'>
      {% include 'cars/popups/popup_shesterenky_need.html' %}
    </div>
</div>

{% include 'main/parts/running_str_black_bg.html' %}


  <section class='mt04'>
    {% include 'cars/banners/banner_guarantee_insurance.html' %}
  </section>

{% endblock %}