{% load static %}
<style type="text/css">
  .color_block{
    position: relative;
    right: -3em;
  }
  .upper_color{
    position: relative;
    z-index: 4;
    margin: -20em 0 0 20em;
    padding-bottom: 10em;
  }

  .icon_infogr{
    width: 40px;
    height: 40px;
  }
</style>

<div class='d-none d-lg-block d-xl-block d-xxl-block'>
  <div class='w-100 black_bg white py-5'>
    <div class='container py-5'>
      <h1 class='banner_big'>ХОЧУ ТАКУЮ ЖЕ, НО</h1>
      <h1 class='banner_big'>С ПЕРЛАМУТРОВЫМИ</h1>
      <h1 class='banner_big'>ФАРАМИ!</h1>
    </div>
  </div>

  <div class='w-100 black white_bg'>
    <div class='row'>
      <div class='col-md-5'>
        <center class='py-5'>
          <h1 class='banner_big red ps-5 my-5'>— ЛЕГКО!</h1>
           {% include 'cars/popups/popup_survey_full.html' %}
        </center>
      </div>
      <div class='col-md-7'>
        <img class='color_block ps-5' src="{% static 'img/red_trapts.svg' %}" />
        <div class='upper_color'>
          <div class="d-flex justify-content-start">
            <img class='' src="{% static 'icons/search_white.png' %}" />
            <h4 class='white we_400 ps-3 pt-3'>Подберем машину с учетом ваших потребностей и пожеланий. </h4>
          </div>
          <div class="d-flex justify-content-start mt-3">
            <img class='' src="{% static 'icons/world_white.png' %}" />
             <h4 class='white we_400 ps-3 pt-4'>Организуем доставку из любой точки мира.</h4>
          </div>
        </div>

      </div> 
    </div>
  </div>
</div>



<div class='d-block d-lg-none'> 
    <div class='py-5 red_bg ps-5'>
      <h1 class='banner_big white'>ХОЧУ</h1>
      <h1 class='banner_big white'>ТАКУЮ ЖЕ,</h1>
      <h1 class='banner_big white'>НО С</h1>
      <h1 class='banner_big white'>ПЕРЛАМУТ</h1>
      <h1 class='banner_big white'>РОВЫМИ</h1>
      <h1 class='banner_big white'>ФАРАМИ!</h1>
    </div>

    <h1 class='banner_big red my-5 ps-5'>— ЛЕГКО!</h1>

    <div class='desctop_84'>  
      <div class="d-flex justify-content-start">
        <img class='icon_infogr' src="{% static 'icons/search.png' %}" />
        <p class='ps-2'>Подберем машину с учетом ваших потребностей и пожеланий. </p>
      </div>
      <div class="d-flex justify-content-start">
        <img class='icon_infogr' src="{% static 'icons/world.png' %}" />
        <p class='ps-2'>Организуем доставку из любой точки мира.</p>
      </div>
  </div>

</div>